.header{
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  background: #F9FAFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  padding: 2rem;
}

.intern{
  display: flex;
  flex-direction: column;
  color: #000;
  opacity: 0.7;
}

.london{
  font-size: 1.5rem;
  font-weight: 600;
  color: #1D4ED8;
}

.dropdown{
  display: flex;
  justify-content: center;
  flex: 1;
}

select{
  background: #fff;
  color: #1D4ED8;
  flex: 0.3;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 1.2rem;
  padding-left: 0.5rem;
}

option{
  font-size: 1.2rem;
}

.move{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.images{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.images > img{
  background: #fff;
  border-radius: 3px;
  padding: 0.5rem;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.buttons > button{
  background: #1D5ECD;
  color: #fff;
  opacity: 0.9;
  border: none;
  outline: none;
}

.buttons > button:hover{
  opacity: 0.7;
}

.btn-1{
  border-radius: 10px 0 0 10px;
  padding: 1rem;
}

.btn-2{
  border-radius: 0 10px 10px 0;
  padding: 0.875rem;
}

@media (max-width: 768px){
  .header{
    left: 0;
  }
  .dropdown, .images{
    display: none;
  }
}